[Desktop Entry]
Categories=Network;InstantMessaging;Chat;
Comment[en_US]=A feature-rich client for Matrix.org
Comment=A feature-rich client for Matrix.org
Exec=/opt/Element-Nightly/element-desktop-nightly --hidden %U
GenericName[en_US]=
GenericName=
Icon=element-desktop-nightly
MimeType=
Name[en_US]=Element-Nightly
Name=Element-Nightly
Path=
StartupNotify=true
StartupWMClass=element
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
