[Desktop Entry]
Categories=Network;InstantMessaging;Chat;IRCClient
Comment[en_US]=Feature-rich client for Matrix
Comment=Feature-rich client for Matrix
Exec=/usr/bin/element-desktop --hidden %u
GenericName[en_US]=
GenericName=
Icon=io.element.Element
MimeType=
Name[en_US]=Element
Name=Element
Path=
StartupNotify=true
StartupWMClass=Element
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
